@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/Student/Save" method="post">
            I.D.
            <input type="number" name="ID" value="" />
            <br />
            Last Name
            <input type="text" name="Lastname" value="" />
            <br />
            First Name
            <input type="text" name="Firstname" value="" />
            <br />
            Year
            <input type="number" name="Year" value="" />
            <br />
            Course
            <input type="text" name="Course" value="" />
            <br />
            <button type="submit">
                Save
            </button>
        </form>
    </div>
</body>
</html>
